rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Teams/{id} {
      allow read: if true
    }
  }
}